body {
	background: #eee;
	font-family: Verdana, Geneva, sans-serif;
}
#page-container {
	max-width: 1024px;
	background: #fff;
	margin: 0 auto;
	border-top: 4px solid #c88b17;
}

.align-centre {
	text-align: center;
	font-size: 0.7em;
	font-family: arial;
}

#page {
}

#top-menu {
	font-size: 0.7em;
}

#branding {
	margin-bottom: 1em;
}

#logo {
	width: 50%;
	max-width: 520px;
}

#logo img {
	width: 100%;
}

#top-menu .menu-wrapper {
	float: right;
	padding: 6px 0;
}

.menu-wrapper a {
	text-decoration: none;
	margin-right: 1em;
}

footer a,
#right-sidebar a {
	text-decoration: none;
}

footer a:hover,
#right-sidebar a:hover,
menu-wrapper a:hover {
	text-decoration: underline;
}

.container {
	padding: 0 10px;;
}

#main-menu .menu-wrapper {
  padding: 6px 0;
}

#main-menu {
	margin-bottom: 10px;
}

#main-menu .menu-wrapper a {
	color: #fff;
}

#main-menu .menu-wrapper a:hover {
	color: #c88b17;
	text-decoration: none;
}

#main-content .column-inner {
	padding: 0 0.5em;
}

#main-column {
	width: 66.66%;
}

#right-sidebar {
	width: 33.3%
}

#right-sidebar .sidebar-block {
	width: 90%;
	padding: 0 2%;
	border: 1px solid #c88b17;
	margin-bottom: 1em;
	border-radius: 10px;
}

#right-sidebar .sidebar-block a {
	color: #003619
}

#main-column,
#right-sidebar {
	float: left;
}

.clearfix:after { 
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}

#breakpoint-indicator {
	position: fixed;
	width: 100px;
	bottom: 0;
	right: 0;
	
	background: #003619;
	padding: 0.5em;
	text-align: center;
	color: #eee;
}

#breakpoint-indicator p {
	margin: 0;
}

#main-menu,
footer {
	background: #1c427c;
}

#main-menu {
	border-top: 1px solid #c88b17;
	border-bottom: 1px solid #c88b17;
}

footer {
	border-top: 4px solid #c88b17;
	border-bottom: 4px solid #c88b17;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	color: #fff;
}

.footer-column {
	width: 33.33%;
 	float: left;
    text-align: center;
    font-size: 0.9em;
}

.footer-column ul li {
	list-style-type: none;
}

.footer-column a {
	color: #fff;
}

a {
	color: #ab1519;
}

@media (min-width:769px) {
	.mobile,
	.tablet {
		display: none;
	}
}

@media (max-width: 768px) {
    footer {
		margin: 10px;
    }	
	.footer-column {
		width: 100%;
	}
	.footer-column .column-inner {
		width: 150px;
		margin: 0 auto;
	}
}

@media (max-width: 700px) {
	#logo {
		width: 100%;
	}
	#main-menu .menu-wrapper,
	#top-menu .menu-wrapper {
		float: none;
		text-align: center;
	}
}

@media (min-width: 321px) and (max-width: 768px) {
  	#main-column {
		width: 100%;
	}
	#right-sidebar {
		width: 100%;
	}
	.desktop,
	.mobile {
		display: none;
	}
}

@media (max-width: 320px) {
	  	#main-column {
			width: 100%;
		}
		#right-sidebar {
			width: 100%;
		}
		.desktop,
		.tablet {
			display: none;
		}
		#logo { 
			width: 100%;
			max-width: 100%;
		}
	}
}